[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/kxqdesign/hugo-PaperMod-kxq.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
